[Unit]
Description=Jellyfin Media Server
After=network-online.target mergerfs.service
Wants=network-online.target mergerfs.service
RequiresMountsFor=/mnt/media

[Service]
ExecStartPre=/usr/bin/podman rm -f jellyfin
ExecStart=/usr/bin/podman run --name jellyfin --rm \
  --network host \
  --user 1000:1000 \
  --device /dev/dri:/dev/dri \
  -v /mnt/media:/media:ro \
  -v /home/skim/jellyfin-configs/config:/config \
  -v /home/skim/jellyfin-configs/data:/data \
  -v /home/skim/jellyfin-configs/cache:/cache \
  -v /home/skim/jellyfin-configs/data/transcodes:/transcodes \
  -v /usr/lib64/libOpenCL.so.1:/usr/lib/libOpenCL.so.1:ro \
  -v /usr/lib64/libdrm_amdgpu.so.1:/usr/lib/libdrm_amdgpu.so.1:ro \
  -v /usr/lib64/libdrm.so.2:/usr/lib/libdrm.so.2:ro \
  docker.io/jellyfin/jellyfin:latest
Restart=on-failure
RestartSec=10
ExecStop=/usr/bin/podman stop jellyfin

[Install]
WantedBy=multi-user.target