[Unit]
Description=Jellyfin Media Server
After=network-online.target var-mnt-pool1.mount
Wants=network-online.target
RequiresMountsFor=/var/mnt/pool1 /home/skim/jellyfin-configs

[Service]
ExecStartPre=/usr/bin/podman rm -f jellyfin
ExecStart=/usr/bin/podman run --name jellyfin --rm \
  --network host \
  --user 1000:1000 \
  --device /dev/dri:/dev/dri \
  -v /var/mnt/pool1:/media:rw,z \
  -v /home/skim/jellyfin-configs:/config \
  -v /usr/lib64/libOpenCL.so.1:/usr/lib/libOpenCL.so.1:ro \
  -v /usr/lib64/libdrm_amdgpu.so.1:/usr/lib/libdrm_amdgpu.so.1:ro \
  -v /usr/lib64/libdrm.so.2:/usr/lib/libdrm.so.2:ro \
  docker.io/jellyfin/jellyfin:latest
Restart=on-failure
RestartSec=10
ExecStop=/usr/bin/podman stop jellyfin

[Install]
WantedBy=multi-user.target