[Unit]
Description=mergerfs - pool of media drives
Requires=var-mnt-pool1.mount var-mnt-pool2.mount var-mnt-pool3.mount
After=var-mnt-pool1.mount var-mnt-pool2.mount var-mnt-pool3.mount
Before=jellyfin.service sonarr.service radarr.service sabnzbd.service bazarr.service qbittorrent.service

[Service]
Type=simple
ExecStartPre=/usr/bin/mountpoint -q /var/mnt/pool1
ExecStartPre=/usr/bin/mountpoint -q /var/mnt/pool2
ExecStartPre=/usr/bin/mountpoint -q /var/mnt/pool3
ExecStart=/usr/local/bin/mergerfs -f -o defaults,allow_other,cache.files=off,dropcacheonclose=false,category.create=pfrd,func.getattr=newest,minfreespace=100G,moveonenospc=pfrd,inodecalc=hybrid-hash,statfs=base,fsname=mergerfs-media /var/mnt/pool1:/var/mnt/pool2:/var/mnt/pool3 /var/mnt/media
ExecStop=/usr/bin/umount /var/mnt/media
Restart=on-failure
RestartSec=10
TimeoutStartSec=60
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
